USE [master]
GO
/****** Object:  Database [TurnoverUBD]    Script Date: 10/27/2024 7:57:10 PM ******/
CREATE DATABASE [TurnoverUBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TurnoverUBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TurnoverUBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TurnoverUBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TurnoverUBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TurnoverUBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TurnoverUBD]
GO
/****** Object:  Table [dbo].[Conciertos]    Script Date: 10/27/2024 7:57:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conciertos](
	[ConciertoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Fecha] [datetime] NOT NULL,
	[Lugar] [nvarchar](200) NOT NULL,
	[Costo] [decimal](10, 2) NOT NULL,
	[SeccionId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ConciertoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entradas]    Script Date: 10/27/2024 7:57:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entradas](
	[EntradaID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[SeccionID] [int] NOT NULL,
	[FechaCompra] [datetime] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EntradaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialCompras]    Script Date: 10/27/2024 7:57:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialCompras](
	[HistorialID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[EntradaID] [int] NOT NULL,
	[FechaCompra] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HistorialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Secciones]    Script Date: 10/27/2024 7:57:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Secciones](
	[SeccionID] [int] IDENTITY(1,1) NOT NULL,
	[NombreSeccion] [nvarchar](50) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[CantidadDisponible] [int] NOT NULL,
	[Costo] [decimal](10, 2) NOT NULL,
	[ConciertoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SeccionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 10/27/2024 7:57:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Contraseña] [nvarchar](255) NOT NULL,
	[Rol] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([UsuarioID], [Nombre], [Contraseña], [Rol]) VALUES (1, N'dante', N'dante1', N'cliente')
INSERT [dbo].[Usuarios] ([UsuarioID], [Nombre], [Contraseña], [Rol]) VALUES (2, N'admin', N'admin123', N'Administrador')
INSERT [dbo].[Usuarios] ([UsuarioID], [Nombre], [Contraseña], [Rol]) VALUES (3, N'Marco', N'marco1', N'Cliente')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Conciertos] ADD  DEFAULT ((0)) FOR [Costo]
GO
ALTER TABLE [dbo].[Entradas] ADD  DEFAULT (getdate()) FOR [FechaCompra]
GO
ALTER TABLE [dbo].[HistorialCompras] ADD  DEFAULT (getdate()) FOR [FechaCompra]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ('Cliente') FOR [Rol]
GO
ALTER TABLE [dbo].[Entradas]  WITH CHECK ADD FOREIGN KEY([SeccionID])
REFERENCES [dbo].[Secciones] ([SeccionID])
GO
ALTER TABLE [dbo].[Entradas]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[HistorialCompras]  WITH CHECK ADD FOREIGN KEY([EntradaID])
REFERENCES [dbo].[Entradas] ([EntradaID])
GO
ALTER TABLE [dbo].[HistorialCompras]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Secciones]  WITH CHECK ADD FOREIGN KEY([ConciertoID])
REFERENCES [dbo].[Conciertos] ([ConciertoID])
GO
USE [master]
GO
